.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Button CSS */
.button-base {
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
  width: fit-content;
  font-weight: 600;
}

.action-button {
  margin-right: 10px;
  background-color: #516bf0;
  color: #fff;
}

.reset-button {
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #516bf0;
  color: #516bf0;
}

.button-base.disabled {
  background-color: #929EAA;
  color: #fff;
  cursor: default;
}

.button-container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}